{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperação de Senha</title>

</head>
<body>
  <div class="container">
    <h1>Recuperar Senha</h1>
    <hr>
    <form method="POST">{% csrf_token %}
      <div class="mb-3">
        <label class="form-label">Email</label>
        {{form.email}}
      </div>
      <div class="mb-3">
        <label ="form-label">Usuario</label>
        {{form.usuario}}
    </div>
    <div class="mb-3">
      <label class="form-label">Senha</label>
      {{form.password}}
  </div>
  <div class="mb-3">
    <label class="form-label">Repetir senha</label>
    {{form.password_repeat}}
  </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
     </form> 
      
    
  </div>
</body>
</html>
{% endblock content %}