{% extends "task.html" %}
{% block title %}
<h1>Editar Lista</h1>
<hr>
{% endblock title %}
{% block logout %}
<li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a></li>
{% endblock logout %}
{% block form %}
<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Status</label>
    {{form.status}}
</div>
{% endblock form %}
{% block login %}
<li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url "user_info" %}">Olá, {{usuario}}</a></li>
{% endblock login %}